    /* Flex as parent */ 
    /* Flex as child */ 
    /* Other */



    body, html{
        height: 100%; 
        width: 100%; 
        margin: 0;
        display: flex; 
    
    
        /* Flex as parent */ 
        display: flex; 
        flex-direction: column; 
    }
    
    /* ---------------------------- HEADER (DONE)  ---------------------------- */
    
    /* HEADER */ 
                    header{
                        /* Flex as parent */ 
                        display: flex; 
                        flex-direction: column; 
                        justify-content: center;
                        align-items: center; 
    
                        /* Flex as child */ 
                        flex: 1; 
    
                        /* Other */ 
                        background-color: #004047;
                    }
    
                    header p:nth-child(1) {
                        /* Flex as child */ 
                        flex: 1; 
    
                        /* Other */ 
                        color: white; 
                        font-size: 1em; 
                        font-weight: bold;  
                    }
    
                    header p:nth-child(2){
                        /* Flex as child */ 
                        flex: 1;
    
                        /* Other */ 
                        font-size: 0.7em;
                        color: black; 
                        background-color: #f5deb3;
                        padding: 0.2em; 
                    }
    
                    .highlight{
                        background-color: #ffff00; 
                    }
    
    /* ---------------------------- CONTENT ---------------------------- */
    /* CONTENT */ 
                    #content{
                        /* Flex as parent */ 
                        display: flex;
                        flex-direction: column;
                        justify-content: center; 
                        align-items: center; 
    
                        /* Flex as child */ 
                        flex:  12; 
    
                        /* Other */
                        background-color: #bee5bf; 
                        padding: 1em;
                    }
    
        /* Settings */
                    #settings_sec{
                        /* Flex as parent */
                        display: flex; 
                        justify-content: center; 
                        align-items: center; 
    
    
                        /* Flex as child */ 
                        flex: 1; 
    
                        /* Other */
                        background-color: #dff3e3;
                        width: 100%; 
                        border: 0.2em dotted red;
                        border-radius: 1em;
                        margin-bottom: 0.8em;
                        padding: 0.2em 0 0.5em 0 ;
                    }
    
                    form{
                        /* Flex as parent */
                        display: flex;
                        flex-direction: row; 
                        justify-content: space-evenly; 
                        align-items: center;
    
    
                        /* Flex as child */ 
                        flex: 1
    
                    }
    
                    /*Weather button */
                    #getweather{
                        height: 4em;
                        margin: 0.5em; 
                        background-color: #ff0000;
                        color: white; 
                        border-radius: 1em;
                        font-weight: bold;
                        cursor: pointer;
                    }

                    fieldset{
                        /* Flex as parent */ 
                        display: flex;
                        justify-content: center;
                        /* Flex as child */ 
    
                        /* Other */
                        width: 10%;
                        border-radius: 10px;
                        background-color: white; 
                    }
    
                    legend{
                        background-color: #e4e2e2;
                        border-radius: 10px; 
                        padding: 0.3em;
                    }
    
                    input{
                        border-radius: 0.5em;
                    }
    
        /* weather info*/
                    #weather_info_sec{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        flex: 8;
                        border: 0.2em solid #ff0000;
                        border-radius: 1em;
                        width: 100%;
                        background-color: #d3d3d3;
                    }
                    #render_sec{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;
                        flex: 2;
                        padding: 1em;
                        margin: 1em;
                        border-radius: 1em;
                    }
                    #dayData{
                        flex: 8;
                        display: flex;
                        justify-content: space-evenly;
                        border: 3px dotted red;
                        margin: 2em;
                    }

                    .days{
                        flex: 1;
                        margin: 5px;
                        background-color: aliceblue;
                        border-radius: 15px;
                        display: flex;
                        flex-direction: column;
                    }
                    .days section{
                        display: flex;
                        border: 2px dotted black;
                        border-radius: 20px;
                        margin: 10px;
                        padding: 10px;
                    }
                    .days img{
                        width: 100px;
                        margin-left: 20px;
                    }
                    .days p{
                        text-align: left;
                        display: flex;
                        width: 100%;
                    }
                    .days span{
                        width: 100%;
                        text-align: right;
                    }

    
    /* ---------------------------- FOOTER (DONE) ---------------------------- */
    /* FOOTER */ 
                    footer{
                        /* Flex as parent */ 
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        /* Flex as child */ 
                        flex: 1; 
    
                        /* Other */ 
                        background-color: #004047;
                        color: white; 
                    }
    
    
    /* ----------------------------------------------------------------- */